<main>
  <div class="main container grey lighten-2">
    <p id="white"></p>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">TeleAdvise</a>
        <span class="right">{{{content}}}</span>
        <ul id='dropdown1' class='dropdown-content'>
          <li>
            <form id="login">
              <input id="email" type="email" class="validate" required>
              <label for="email">Email</label>
          <input id="password" type="password" class="validate" required>
          <label for="password">Password</label>
          <div class="center">
            <div id="failure"></div>
            <button type="submit" class="waves-effect waves-light btn">SIGN IN</button>
          </div>
          </form>
          </li>
        </ul>
      </div>
    </nav>
    <p id="white"></p>
    <br>
    <div class="container">
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image center">
              <img src="/images/TALogo.PNG" alt="TeleAdvise Logo" id="logo">
            </div>
            <div class="card-content">
              <p>Welcome to TeleAdvise, here you can find out where your favorite TV Show or Movie is available among the most
                popular streaming services. Simply type in the show or the movie and we will let you know if it is available
                on Netflix, AmazonPrime, AmazonInstant, or iTunes.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s6 m6">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                <div>
                  <i class="material-icons">search</i>Basic Search</div>
              </div>
              <div class="collapsible-body white">
                <form id="basic">
                  <label class="active">Search</label>
                  <input placeholder="Movie or TV Show Title" id="basicSearch" type="text" class="validate">
                  <!-- <a class="waves-effect waves-light btn-small"><i class="material-icons right"></i>Search</a> -->
                  <button class="btn waves-effect waves-light" id="basicButton" type="submit" name="action">Search
                    <i class="material-icons right">search</i>
                  </button>
                  <span class="radio" id="basicMovie">
                    <label>
                      <input id="movieRadioBasic" class="with-gap" name="group3" type="radio" />
                      <span>Movie</span>
                    </label>
                  </span>
                  <span class="radio" id="basicTV">
                    <label>
                      <input id="tvRadioBasic" class="with-gap" name="group3" type="radio" checked />
                      <span>TV Show</span>
                    </label>
                  </span>
                </form>
              </div>
            </li>
          </ul>
        </div>
        <div class="col s6 m6">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header">
                <div>
                  <i class="material-icons">location_searching</i>Advanced Search</div>
              </div>
              <div class="collapsible-body white">
                <form id="advanced">
                  <input placeholder="Cast or Crew Member" id="advancedSearch" type="text" class="validate">
                  <span class="radio">
                    <label>
                      <input class="with-gap" id="advancedCast" name="group2" type="radio" checked />
                      <span>Cast </span>
                    </label>
                  </span>
                  <span class="radio">
                    <label>
                      <input class="with-gap" id="advancedCrew" name="group2" type="radio" />
                      <span>Crew</span>
                    </label>
                  </span>
                  <br>
                  <span class="radio">
                    <label>
                      <input class="with-gap" id="advancedMovie" name="group3" type="radio" />
                      <span>Movie</span>
                    </label>
                  </span>
                  <span class="radio">
                    <label>
                      <input class="with-gap" id="advancedTV" name="group3" type="radio" checked />
                      <span>TV Show</span>
                    </label>
                  </span>
                  <br>
                  <br>
                  <div>
                    <select id="genreSelect">
                      <!-- added id's to each genre of movie -->
                      <option value="0">Choose your Genre (optional)</option>
                      <option value="10759">Action &amp; Adventure</option>
                      <option value="16">Animation</option>
                      <option value="35">Comedy</option>
                      <option value="80">Crime</option>
                      <option value="99">Documentary</option>
                      <option value="18">Drama</option>
                      <option value="10751">Family</option>
                      <option value="10762">Kids</option>
                      <option value="9648">Mystery</option>
                      <option value="10763">News</option>
                      <option value="10764">Reality</option>
                      <option value="10765">Sci-Fi &amp; Fantasy</option>
                      <option value="10766">Soap</option>
                      <option value="10767">Talk</option>
                      <option value="10768">War &amp; Politics</option>
                      <option value="37">Western</option>
                    </select>
                    <label>Materialize Select</label>
                  </div>
                  <br>
                  <br>
                  <button class="btn waves-effect waves-light" id="advancedButton" type="submit" name="action">Search
                    <i class="material-icons right">search</i>
                  </button>
                </form>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div id="options">
      {{#each options}} {{this.title}} {{/each}}
    </div>
  </div>
</main>

<div id="modal1" class="modal">
  <div class="modal-content">
  </div>
</div>